*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(95, 175, 228);
    /* background-image: -webkit-linear-gradient(120deg, #f6d365, #fda085); */
    color: white;
    font-family: "Poppins", "sans-serif";
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header, form {
    margin: 5vh auto;
    display: flex;
    align-content: center;
    justify-content: center;
}


form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
    max-height: 50px;
}


form input::placeholder{
    font-size: 1.2rem;
}

form button{
    color: #d88771;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color: #d88771;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 45%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.todo li{
    flex: 1;
}

.complete-btn, .delete-btn{
    background-color: rgb(230, 97, 45);
    padding: 1rem;
    color: 
    white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.complete-btn{
    background-color: yellowgreen;
}

.todo-item{
    padding: 0 0.5rem;
}

.fall{
    opacity: 0;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

 select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    bottom:15px;
    overflow: hidden;
}


select{
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: '\25BC';
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
} 

.select:hover::after{
    color: #ff6f47;
    background: white;
} 



